body {
    margin: auto;
    max-width: 37.5rem;
    background-color: #F5F5F5;
    font-family: 'Smythe', cursive;
    font-weight: 400px;
    font-style: normal;
    color: #000000;
} 

.font-red {
    color:red;
}

main {
    position: relative;
}

.flex {
    display: flex;
}

.flex-column { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-list {
    padding: 0px
}

.text-white {
    color: #FFFFFF
}

.verdana {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    /* font-size: 20px;
    line-height: 31px; */
}

.limegreen-btn {
    background-color: #16DB99
}

.image {
   width: 100%; 
}

header {
    margin-bottom: 45px;
    position: relative;
}

.header-title-moto {
    position: absolute;
    top: 45;
    left: 45;
    list-style-type: none;  
    margin: 0px;
    padding: 0px;
}

.header-title { 
    font-size: 39px;
    line-height: 24px;
    padding-bottom:  19px; 

}

.header-moto { 
    font-size: 22.4216px;
    line-height: 14px;
}

.add-item {
    margin-left: auto;
    border: 1.5px solid #DEDEDE;
    border-radius: 50%;
    width: 50px;
    height:50px; 
    font-family: 'Inter';
    font-weight: 200;
    font-size: 30px;
    line-height: 47px;
    color: #3C3C3C;
    text-align: center;
    cursor: pointer;
    
}

/*  Menu Items  */

.menu-container {
    gap: 31px;
    width: 508px;
    height: 140px;
    margin-top: 45px;
    margin-left: 46px;
      
}

.menu-item-container-divder {

width: 504px;
height: 0px;
margin-left: 45px;
border: 1px solid #D2D2D2;

}

.menu-item-emoji{
    font-family: 'Inter';
    font-size: 78.72px;
    line-height: 98px;
    letter-spacing: -0.02em;
    margin: 0px;
}

.menu-item-description {
    margin: 0px;
}

.menu-item-name {
    font-size: 28px;
    line-height: 17px;
    margin: 0px;
    padding-top: 5px;
}
.menu-item-ingredients {
    font-size: 16px;
    line-height: 24px;
    color: #8B8B8B;
    margin: 0px;
    padding: 8px 0px 8px 0px;
}

.menu-item-price {
    font-size: 20px;
    line-height: 24px;
}

.order-container {
    position: relative;
    width: 508px;
    height: 319;
    margin: 45px;

    /* border: 1px solid red; */
}

.your-order-title {
    display: flex;
    justify-content: center;
    font-size: 28px;
    line-height: 17px;
    margin-bottom: 64px;
    
}

.order-item-divder {

    width: 504px;
    height: 0px;
    margin-top: 31px;
    border: 1px solid #393333;
    
    }
#complete-order {
    /* position: relative; */
    margin-bottom: 50px;
    width: 508px;
    height: 60px;
    background: #16DB99;
    bottom: 0px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
   

    /* Button Text */

    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;

    }

.order-price {
    margin-left: auto;
}

.order-item {
    margin:10px
    
}

.order-total {
    margin-top: 14px;
    margin-bottom: 53px;
}

.item-one, .item-two  {
    padding-top: 6px;
    padding-bottom: 6px;
}

.total-price {
    font-size: 28px;
    line-height: 24px;
    
}

.total-number {
    margin-left: auto;
    margin-right: 10px;
}


.remove {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    /* or 200% */
    color: #BBBBBB;
    margin-left: 11px;
    cursor: pointer;

}

/* Modal Checkout */

.modal-container {
    position:absolute;
    width: 524px;
    height: 542.24px;
    left: 38px;
    top: 60px;
    background: #FFFFFF;
    border-radius: 3.88991px;
    font-family: 'Verdana';

    filter: drop-shadow(5.18654px 5.18654px 255.437px rgba(0, 0, 0, 0.5));
  

}

.enter-card-details {
    margin: 46px 0px;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
}


input {
   
    width: 475.91px;
    height: 71.3px;
    font-size: 20px;
    color: #757575;
    border: 1.29664px solid #757575;
    border-radius: 3.88991px;
    padding-left: 26px;
    
}

input[type="text"]::placeholder {
    margin-left: 50px;
  }

.middle-input {
    margin: 23px auto;
}

.pay-btn {
    
    width: 475.91px;
    height: 71.3px;
    margin: 46px 24px 30px;
    background: #16DB99;
    border-radius: 3.88991px;
    border: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 31px; 
    color: #FFFFFF;
    cursor: pointer;
}


.thank-you {
    margin: 45px auto;
    padding: 0px;
    width: 504px;
    height: 120px;
    background-color: #CFFAE6;  /* #ECFDF5 */

    text-align: center;
    font-size: 32px;
    line-height: 115px;
    color: #065F46;
    
}



/* utility */
.hidden {
    display: none;
}

